.product_detail_section {
    float: left;
    width: 100%;
    padding: 4rem 0;
  }
  
  .SEK {
    color: #9FDEBE;
    font-weight: 600;
  }
  
  .button-section {
    display: flex;
    margin-top: 1rem;
  }
  
  .add_to_cart {
    width: 200px;
    height: 53px;
    color: black;
    font-size: 22px;
    border: none;
  }
  
  .itemAdjuster {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .itemAdjuster button {
    background-color: #141414;
    color: #fff;
    border: none;
    width: 45px;
    height: 53px;
    font-size: 30px;
    cursor: pointer;
  }
  
  .itemAdjuster span {
    font-size: 18px;
    font-weight: bold;
  }

  
  .sale_section {
    background-color: #141414;
    width: 80%;
    font-size: 18px;
    height: auto;
  }
  
  .sale_section h6 {
    background-color: #3F3A5C;
  }
  
  .sale_section div p {
    color: #9A9A9A;
    height: 15px;
  }
  
  .para_section {
    font-size: 20px;
  }
  
  .product_spec {
    background-color: #141414;
    padding: 30px;
  }
  
  .product_spec span {
    color: #9A9A9A;
    font-weight: 200;
  }
  
  .product_spec p {
    color: white;
    font-weight: 600;
  }
  
  .spec_detail {
    border-bottom: 0.8px solid #747474;
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .spec_detail:last-child {
    border: none;
  }
  
  .carousel_container {
    position: relative;
    width: 100%;
    /* max-width: 600px; Adjust as needed */
    margin: auto;
  }
  
  .carousel_image img {
    width: 800px;
    height: 500px;
  }
  
  .arrow {
    background-color: #363636;
    border-radius: 100px;
    cursor: pointer;
    font-size: 14px; /* Adjust size as needed */
    margin: 0 10px; /* Add space between arrows and image */
    width: 35px;
    height: 35px;
    align-self: center;
    border: none;
    color: #999999;
  }
  
  .carousel_dots {
    text-align: center;
    margin-top: 15px;
    border: 1px solid white;
    width: 20%;
    border-radius: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
  }
  
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgba(128, 128, 128, 0.294);
    border-radius: 50%;
    /* margin: 0 2px; */
    cursor: pointer;
  }


  .main_details h1 {
    font-size: 25px;
  }

  .SEK {
    font-size: 22px;
  }

  .sale_section {
    width: 100%;
    font-size: 16px;
  }

  .para_section {
    font-size: 17px;
  }

  .product_spec {
    background-color: #141414;
    padding: 5px;
  }

  .product_spec span {
    margin-left: 20px;
  }

  .product_spec p {
    font-weight: 600;
    margin-left: 10px;
  }

  .spec_detail {
    border-bottom: 0.8px solid #747474;
    display: flex;
    flex-direction: column;
    padding: 0rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .spec_detail h5 {
    font-size: 25px;
    padding-top: 10px;
    font-weight: 600;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 390px) {
  .carousel_dots {
    width: 27%;
  }
}
