
.main-footer{
  font-family: 'Satoshi';
    color: #fff;
    float: left;
    width: 100%;
    padding: 80px 0;
}



#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.group[data-has-value="true"] .group-data-\[has-value\=true\]\:text-default-foreground {
  --tw-text-opacity: 1;
  color: #fff !important;
}
.group[data-filled-within="true"] .group-data-\[filled-within\=true\]\:text-default-600 {
  --tw-text-opacity: 1;
  color: #fff !important;
}
.footer-logo input {
  color: #fff;
  background-color: #ff0000;
  border-bottom: solid 1px #fff;
}
.footer-logo select {
  color: #fff;
}
.footer-logo button {
  color: #fff;
}








.footer-container{
    float: left;
    width: 100%;
    padding: 4rem 0;
}






.formControl {
  position: relative;
  margin-bottom: 1rem;
}

.inputField {
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #141414;
  transition: all 0.2s ease-in-out;
  border-radius: 0;
  border-bottom: solid 2px #747474;
  color: #fff;
}

.inputField:focus {
  outline: none;
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.inputLabel {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: #141414;
  padding: 0 0.25rem;
  color: #6c757d;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.inputField:focus + .inputLabel,
.inputField:not(:placeholder-shown) + .inputLabel {
  top: 0;
  transform: translateY(-50%) scale(0.85);
  color: #fff;
}

.textareaLabel {
  top: 1rem;
}

.textareaField:focus + .textareaLabel,
.textareaField:not(:placeholder-shown) + .textareaLabel {
  top: 0;
  transform: translateY(-50%) scale(0.85);
}

.submitButton {
  display: inline-flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  background-color: #ffffff;
  color: #000;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  justify-content: center;
  width: 100%;
  border-radius: 0;
  font-weight: 600;
}

.submitButton:hover {
  background-color: #70aa8d;
}

.submitButton svg {
  margin-left: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.submitButton:hover svg {
  transform: translateX(4px);
}

.navLink {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  font-weight: 100;
}

.navLink:hover {
  color: #fff;
}

.legalLink {
  color: #6c757d;
  text-decoration: none;
  font-size: 0.875rem;
  transition: color 0.2s ease-in-out;
}

.legalLink:hover {
  color: #fff;
}

.logo {
  max-width: 100%;
  height: auto;
}

.footerLogo {
  max-width: 160px;
  height: auto;
  margin: 2rem auto;
}

@media screen and (max-width: 991px) {
.logo {
  max-width: 120px;
  margin: 0 auto;
  display: block;
}
.footer-container h2{
  text-align: center;
}
.submitButton {
  margin-top: 15px;
}
}