
 
  .about_section {
    float: left;
    width: 100%;
    padding: 4rem 0;
  }

  .abou_section .about_banner {
    width: 100%;
    padding: 4rem 0 3rem 0;
  }

  .about_video {
    width: 100%;
  }

  .about_years h1 {
    font-size:80px;
      }

  .about_years h1 span{
  vertical-align:super;
  font-size:smaller;
  }

  .about_years p {
    font-size:40px;
    margin-top: -20px;
      }

  .about_card1{
  padding: 25px;
  padding-right: 40px;
  background: #131313;
  color: white;
  }

  .about_card1 p{
    font-size: 17px;
    line-height: 18px;
    margin-top: -13px;
    font-weight: 500;
    font-stretch: ultra-condensed;
      }

    .whoVR{
    margin-left: 350px;
    margin-top: 50px;
    position: relative;
    }
      
  .whoVR .whoVR_para .para_ball{
    width: 22px;
    height: 31px;
    border-radius: 100px;
    background:rgb(255, 255, 255);
    top: 0;
    left: 0;
    transition: height 0.5s ease, width 0.5s ease; /* Smooth transition for ball size */
  }

  .whoVR .whoVR_para .para_line{
    width: 0.8px;
    height: 100%;
    max-height: 300px;
    border-radius: 100px;
    background:rgb(255, 255, 255);
    margin-left: 11px;
  }

  .whoVR .whoVR_para{
    padding-top: 7px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .whoVR .whoVR_para p{
    font-size: 25px;
    padding-bottom: 12px;
    transition: font-size 0.5s ease; /* Smooth transition for font size */
  }

.about_card2{
  padding: 25px;
  background: #131313;
  padding-bottom: 15px;
  color: white;
  width: 238px;
  height: 438px; 
  display: flex;
  flex-direction: column;   
  justify-content: space-between;
    }

  .about_card2:hover{
    background: #9FDEBE;
  }

  .about_card2:hover h2{
      color: black;
    }

    .about_card2:hover p{
      color: black;
      transform: translate(-5px, -5px); /* Move the text 5px up and 5px left */
    }

    .about_card2 h2{
      color: #3D3C3C;
        }
  
    .about_card2 p{
      font-size: 15px;
      line-height: 18px;
      margin-top: -13px;
      font-weight: 500;
      font-stretch: ultra-condensed;
      width: 89%;
      transition: transform 0.3s ease, color 0.3s ease;                
      }

      @media(max-width:1600px){

      
        .whoVR{
          margin-left: 250px;
          margin-top: 50px;
          position: relative;
          }
      }
      

      @media(max-width:1500px){

      
              .whoVR{
                margin-left: 200px;
                margin-top: 50px;
                position: relative;
                }
            }

      @media(max-width:1400px){
        
  .about_card1{
    padding: 25px;
    padding-right: 40px;
    background: #131313;
    color: white;
    }
  
    .about_card1 p{
      font-size: 17px;
      line-height: 18px;
      margin-top: -13px;
      font-weight: 500;
      font-stretch: ultra-condensed;
        }

        .whoVR{
          margin-left: 200px;
          margin-top: 50px;
          position: relative;
          }
      }


      @media(max-width:1200px){
        
        .about_card1{
          padding: 25px;
          padding-right: 20px;
          background: #131313;
          color: white;
          }
        
          .about_card1 p{
            font-size: 14px;
            line-height: 18px;
            margin-top: -13px;
            font-weight: 500;
            font-stretch: ultra-condensed;
              }

              .whoVR{
                margin-left: 150px;
                margin-top: 50px;
                position: relative;
                }
            }

            @media(max-width:1100px){
              .whoVR{
                margin-left: 80px;
                margin-top: 50px;
                position: relative;
                }
            }


            @media(max-width:992px){
              .whoVR{
                margin-left: auto;
                }
                
                .about_card2{
                  padding-bottom: 0px;
                  width: 700px;
                  height: 118px; 
                  display: flex;
                  flex-direction: row;   
                  justify-content: space-between;
                    }

                    .about_card2 p{
                      font-size: 18px;
                      line-height: 18px;
                      margin-top: 0px;               
                      }

                     .about_card2 h2{
                      font-size: 60px;    
                     }
                    }

                    @media(max-width:767px){
                      .whoVR{
                        margin-left: auto;
                        margin-right: auto;
                        }
                      .about_years h1 {
                        font-size:50px;
                        margin-left: 50px;
                          }
                    
                      .about_years h1 span{
                      vertical-align:super;
                      font-size:smaller;
                      }

                     .about_years_para{
                        font-size:20px;
                        margin-top: 0px;
                        width: 90%;
                          }

                          .about_card2{
                            padding-bottom: 0px;
                            width: auto;
                          }
                    }

                    @media(max-width:520px){
                      .about_years h1 {
                        font-size:40px;
                        margin-left: 30px;
                          }
                    
                      .about_years h1 span{
                      vertical-align:super;
                      font-size:smaller;
                      }

                     .about_years_para{
                        font-size:17px;
                        width: 90%;
                          } 

                          .whoVR .whoVR_para p{
                            font-size: 18px;
                            padding-bottom: 12px;
                            transition: font-size 0.5s ease; /* Smooth transition for font size */
                          }

                          .about_card2{
                            padding-bottom: 0px;
                            width: auto;
                            height: 150px; 
                            display: flex;
                            flex-direction: row;                        
                              }
          
                              .about_card2 p{
                                font-size: 16px;
                                line-height: 20px;
                                margin-top: 0px;               
                                }
          
                               .about_card2 h2{
                                font-size: 60px; 
                                margin-left: -20px;   
                               }
                               .about_years p {
                                font-size:30px;
                                  }
                          
                    }

                    @media(max-width:390px){

                          .about_card2{
                            padding-bottom: 0px;
                            width: auto;
                            height: 160px; 
                            display: flex;
                            flex-direction: row;                        
                              }

                              .about_card2 p{
                                font-size: 14px;
                                line-height: 20px;
                                margin-top: 0px;               
                                }
                              }