.contact_section {
    float: left;
    width: 100%;
    padding: 4rem 0;
  }
  
  .contact_banner {
    float: left;
    width: 100%;
    padding: 4rem 0 3rem 0;
  } 
  
  
  /* Responsive Styles */
  @media screen and (max-width: 991px) {
    .contact_banner {
      padding: 2rem 0 2rem 0;
    }
  
    .contact_banner h1 {
      font-size: 30px;
    }

    .cart_box {
        padding: 10px !important;
        text-align: justify;
    }
    .cart_conditions {
        padding-bottom: 0 !important;
    }

  }

  .cart_conditions{
    float: left;
    width: 100%;
    padding:0 0 4rem 0;
  }
  .cart_box{
    float: left;
    width: 100%;
    margin-bottom: 15px;

  }
  .cart_box li{
    margin-bottom: 15px;
  }
.cart_box:nth-child(odd) {
    background-color: #5C553A;
  }
  .cart_box:nth-child(even) {
    background: #3F3A5C;
  }
  .cart_box_header{
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }




  .datePickers {
  display: flex;
  gap: 20px;
}

.datePickerLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.datePickerLabel span {
  font-weight: bold;
  margin-bottom: 5px;
}

.datePickerWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.dateInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
}

.calendarIcon {
  position: absolute;
  right: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #555;
}

.itemAdjuster {
  display: flex;
  align-items: center;
  gap: 10px;
}

.itemAdjuster button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.itemAdjuster span {
  font-size: 16px;
  font-weight: bold;
}
