.product_detail_section {
    float: left;
    width: 100%;
    padding: 4rem 0;
  }

  .SEK {
    color: #9FDEBE;
    font-weight: 600;
  }

  .button-section {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
  }
  
  .button-section button {
    flex: 1;
  }


.itemAdjuster {
  display: flex;
  align-items: center;
  gap: 10px;
}

.itemAdjuster button  {
  background-color: #141414;
  color: #fff;
  border: none;
  width: 45px;
  height: 53px;
  font-size: 30px;
  cursor: pointer;
}

.itemAdjuster span {
  font-size: 22px;
  font-weight: bold;
}
