/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/layouts/footers/style.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/

.style_main-footer__Pi4rC{
  font-family: 'Satoshi';
    color: #fff;
    float: left;
    width: 100%;
    padding: 80px 0;
}



#style_style-1__dR8aC::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style_style-1__dR8aC::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style_style-1__dR8aC::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.style_group__30Bca[data-has-value="true"] .style_group-data-__has-value__true____text-default-foreground__4Q2pC {
  --tw-text-opacity: 1;
  color: #fff !important;
}
.style_group__30Bca[data-filled-within="true"] .style_group-data-__filled-within__true____text-default-600__fqiqh {
  --tw-text-opacity: 1;
  color: #fff !important;
}
.style_footer-logo__WOaSu input {
  color: #fff;
  background-color: #ff0000;
  border-bottom: solid 1px #fff;
}
.style_footer-logo__WOaSu select {
  color: #fff;
}
.style_footer-logo__WOaSu button {
  color: #fff;
}








.style_footer-container__rfYhy{
    float: left;
    width: 100%;
    padding: 4rem 0;
}






.style_formControl__1DE_P {
  position: relative;
  margin-bottom: 1rem;
}

.style_inputField__T0GK_ {
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #141414;
  transition: all 0.2s ease-in-out;
  border-radius: 0;
  border-bottom: solid 2px #747474;
  color: #fff;
}

.style_inputField__T0GK_:focus {
  outline: none;
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.style_inputLabel__gxzAN {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: #141414;
  padding: 0 0.25rem;
  color: #6c757d;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.style_inputField__T0GK_:focus + .style_inputLabel__gxzAN,
.style_inputField__T0GK_:not(:placeholder-shown) + .style_inputLabel__gxzAN {
  top: 0;
  transform: translateY(-50%) scale(0.85);
  color: #fff;
}

.style_textareaLabel__9SF5u {
  top: 1rem;
}

.style_textareaField__4X6f8:focus + .style_textareaLabel__9SF5u,
.style_textareaField__4X6f8:not(:placeholder-shown) + .style_textareaLabel__9SF5u {
  top: 0;
  transform: translateY(-50%) scale(0.85);
}

.style_submitButton__DfD0e {
  display: inline-flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  background-color: #ffffff;
  color: #000;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  justify-content: center;
  width: 100%;
  border-radius: 0;
}

.style_submitButton__DfD0e:hover {
  background-color: #70aa8d;
}

.style_submitButton__DfD0e svg {
  margin-left: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.style_submitButton__DfD0e:hover svg {
  transform: translateX(4px);
}

.style_navLink__YIldj {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  font-weight: 100;
}

.style_navLink__YIldj:hover {
  color: #fff;
}

.style_legalLink__ZQVQ5 {
  color: #6c757d;
  text-decoration: none;
  font-size: 0.875rem;
  transition: color 0.2s ease-in-out;
}

.style_legalLink__ZQVQ5:hover {
  color: #fff;
}

.style_logo__oS7Nf {
  max-width: 100%;
  height: auto;
}

.style_footerLogo__sJ0vd {
  max-width: 160px;
  height: auto;
  margin: 2rem auto;
}

@media screen and (max-width: 991px) {
.style_logo__oS7Nf {
  max-width: 120px;
  margin: 0 auto;
  display: block;
}
.style_footer-container__rfYhy h2{
  text-align: center;
}
.style_submitButton__DfD0e {
  margin-top: 15px;
}
}
