.reset_password {
  float: left;
  width: 100%;
  padding: 4rem 0;
}

.form_container_half {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 290px;

}

.form_container_half form {
  width: 100%;
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
}


.form_back_icon {
  font-size: 50px;
}

.formControl {
  position: relative;
  margin-bottom: 1rem;
  font-size: 20px;
}

.inputField {
  width: 100%;
  padding: 1rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #141414;
  transition: all 0.2s ease-in-out;
  border-radius: 0;
  border-bottom: solid 2px #747474;
  color: #fff;
  font-size: 20px;
}

.inputField:focus {
  outline: none;
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.inputField:focus::placeholder {
  color: #585454;
  /* Placeholder color */
}

.inputLabel {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: #141414;
  padding: 0 0.25rem;
  color: #6c757d;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.inputField:focus+.inputLabel,
.inputField:not(:placeholder-shown)+.inputLabel {
  top: 0;
  transform: translateY(-50%) scale(0.85);
  color: #fff;
}

.textareaLabel {
  top: 1rem;
}

.textareaField:focus+.textareaLabel,
.textareaField:not(:placeholder-shown)+.textareaLabel {
  top: 0;
  transform: translateY(-50%) scale(0.85);
}

.submitButton {
  display: inline-flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  background-color: #ffffff;
  color: #000;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  justify-content: center;
  width: 100%;
  border-radius: 0;
}

.submitButton:hover {
  background-color: #70aa8d;
}

.submitButton svg {
  margin-left: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.submitButton:hover svg {
  transform: translateX(4px);
}

.eye_button {
  float: right;
  padding: 0.75rem 0rem;
  margin-top: -60px;
  border: none;
  background: none;
  padding-right: 10px;
}

.form_button {
  width: 100%;
  border: none;
  background-color: #fff;
  color: #000;
  padding: 10px 0;

}

.form_button:hover {
  width: 100%;
  border: none;
  background-color: #9addbb;
  color: #000;
  padding: 10px 0;

}

@media screen and (max-width: 991px) {
  .form_container_half {
    align-items: center;
    background: #000000d3;
    width: 100%;

  }

  .form_container_half form {
    width: 100%;
    max-width: 410px;
    margin-left: 0;
    padding: 0 30px;
  }


}

.toggle_wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}