.contact_section {
    float: left;
    width: 100%;
    padding: 4rem 0;
    background-image: radial-gradient(#304239 5%, black 40%);
  }
  

.order_successful{
  float: left;
  width: 100%;
}

.order_successful_container{
  float: left;
  width: 100%;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  /* max-width: 450px; */
  text-align: center;
}

.order_successful_container p{
  max-width: 530px;

}
.order_successful_container img{
  margin-bottom: 15px;
  max-width: 100px;
}
.order_successful_container h5{

}
.order_successful_container button{

}















  
  /* Responsive Styles */
  @media screen and (max-width: 991px) {
   
  
 
  }

